/**
 * The following styles get applied both on the front and in the editor.
 */

 :root {
    --wp--custom--accordion--transition-time: 0.25s;
    --wp--custom--accordion--margin-top: 0px;
    --wp--custom--accordion--margin-right: 0px;
    --wp--custom--accordion--margin-bottom: 0.1em;
    --wp--custom--accordion--margin-left: 0px;
    --wp--custom--accordion--padding-top: 0.5em;
    --wp--custom--accordion--padding-right: 2em;
    --wp--custom--accordion--padding-bottom: 0.5em;
    --wp--custom--accordion--padding-left: 2em;
    --wp--custom--accordion--header--text-color: #ffffff;
    --wp--custom--accordion--header--background-color: #666666;
    --wp--custom--accordion--active--header--text-color: #ffffff;
    --wp--custom--accordion--active--header--background-color: #999999;
    --wp--custom--accordion--body--text-color: #000000;
    --wp--custom--accordion--body--background-color: #ffffff;
}
