/**
 * Editor only styles
 */

.wp-block-hs-blocks-accordion-pane {
	border: 2px dotted #00a;
}
	
.wp-block-hs-blocks-accordion-pane.active .pane-header .pane-switch {
	transform: rotate(180deg);
}

.wp-block-hs-blocks-accordion-pane.active .pane-header .icon.plus, .wp-block-hs-blocks-accordion-pane .pane-header .icon.minus {
	display: none;
}

.wp-block-hs-blocks-accordion-pane.active .pane-header .icon.minus, .wp-block-hs-blocks-accordion-pane .pane-header .icon.plus {
	display: block;
}